.taskInput {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.taskInput input {
  border-radius: 8px;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  color: var(--gray-100);
  line-height: 1.375;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

.taskInput input::placeholder {
  color: var(--gray-300);
}

.taskInput button {
  background: var(--blue-dark);
  border: 0;
  border-radius: 8px;
  color: var(--gray-100);
  padding: 1rem;
  font-weight: 700;
  transition: background .2s;
  
  display: flex;
  align-items: center;
}

.taskInput button:hover {
  background: var(--blue);
  cursor: pointer;
}

.taskInput button svg {
  margin-left: .5rem;
}